@import url('https://fonts.googleapis.com/css2?family=Gantari&family=Roboto&display=swap');

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box ;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
/* div contenedor */
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
/* HEADER */
header{
    background-image: url("../img/rodrigo\ ezequiel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
    background-size: cover;
}
header .menu{
    margin: 40px 0;  
    text-align: right;
}
header .menu a{
    margin: 0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    /* le agrego border bottom para que despues en el hover no haya un salto de margen */
    border-bottom: 2px solid transparent;
    font-size: 2em;
}
header .menu a:hover{
    border-bottom: 2px solid #fff;
}
/* trabajo la parte del texto de header */
header .contenedor-texto{
    display: flex;
    margin: 190px 0;
    justify-content: center;
    align-items: center;
}
header .contenedor-texto .texto{
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}
header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2{
    color: #fff;
    font-weight: 300;
    margin: 0;
}
header .contenedor-texto .texto .nombre{
    margin-bottom: 10px;
    font-size: 50px;
    line-height:50px ;
}
header .contenedor-texto .texto .profesion{
    font-size: 25px;
    line-height: 25px;
}
/* MAIN */
.main .contenedor{
/* aplico overflow visible para que se muestre la parte de la imagen ya 
    que el conntenedor de header tenia overflow hidden */
    overflow: visible;
}
.main .acerca-de{
    text-align: center;
}
.main .acerca-de .foto{
    margin-top: -60px;
}
.main .acerca-de .foto img{
    height: 150px;
    width: 150px;
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}
.main .acerca-de .texto{
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}
.main .acerca-de .texto .titulo{
    font-size: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #dd820d;
    text-align: center;
}
.main .acerca-de .texto .bold{
    color: #3895ea;
    text-decoration: underline;
}
/* TRABAJOS */
.main .trabajos{
    background-color: #f2f2f2;
    padding: 60px 0;
}
.main .trabajos .contenedor{
    overflow: hidden;
}
.trabajos .contenedor .titulo{
    font-size: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #323068;
    text-align: center;
}
.trabajos .contenedor .contenedor-trabajos{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    justify-content: space-between;
}
.trabajos .contenedor .contenedor-trabajos .trabajo{
    width: 23%;
    margin-bottom: 40px;
}
.trabajos .contenedor .contenedor-trabajos .trabajo .portfolio{
    width: 100%;
    margin-bottom: 10px;
}
.trabajos .contenedor .contenedor-trabajos .trabajo .portfolio img{
    width: 100%;
    vertical-align: top;
    border-radius: 3px;
}
.trabajos .contenedor .contenedor-trabajos .trabajo .descripcion{
    text-align: center;
}
.trabajos .contenedor .contenedor-trabajos .trabajo .nombre{
    font-weight: 700;
    color: #3895ea;
    margin-bottom: 10px;
}
.trabajos .contenedor .contenedor-trabajos .trabajo .categoria{
    font-size: 14px;
    color: #636363;
}
/* FORMULARIO */


